*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro' , sans-serif;
}
a{
  list-style: none;
  text-decoration: none;
  color: grey;
}
li{
  list-style: none;
}

html{
  scroll-behavior: smooth;
}
.app{
  background-color: black;
}